.box {
  background-color: #212529b8;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.paper {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Influence_ {
  display: flex;
  align-items: center;
  width: 100%;
}

.Influence_Inner {
  display: flex;
  align-items: center;
  flex: 1;
}
